@charset "UTF-8";

.container {
	padding: 20px;
}

h2 {
	margin: 10px;
}
.form {
	border: 1px solid black;
	margin: 10px;
	padding: 20px;
	width: 450px;
}

.button {
	color: white;
	background-color: rgb(89,126,170);
	box-shadow: 2px 4px 2px gray;
	
}

.result {
	width: 300px;
	background-color: rgb(159,197,248);
	padding: 20px;
}